* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: #333333;
    height: 80px;
}

.h_content {
    width: 960px;
    margin: 0 auto;
    line-height: 80px;
}

.header span {
    font-size: 36px;
    color: #fff;
    margin-left: 30px;
}

.h_navigation {
    float: right;
    margin-right: 80px;
}

.h_navigation a {
    color: #fff;
    font-size: 18px;
}

.banner {
    width: 100%;
    background: #66bb33;
    height: 300px;
    position: relative;
}

.b_num {
    position: absolute;
    bottom: 10px;
    right: 100px;
}

.b_num span {
    float: left;
    width: 30px;
    height: 50px;
    border: 1px solid #000;
    margin-left: 5px;
    text-align: center;
    line-height: 50px;
    background: #b2dd99;
}

.b_num .s_special {
    background: #e0f1d6;
}

.main_navigation {
    position: relative;
}

.main_navigation hr {
    margin-top: 70px;
    border: 0;
    background-color: #cccccc;
    height: 1px;
}

.main_list {
    width: 960px;
    margin: 0 auto;
    position: absolute;
    top: -51px;
    left: 200px;
}

.main_list span {
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 50px;
    border-radius: 15px 15px 0 0;
    background: #eeeeee;
}

.main_list .main_special {
    border-bottom: #fff;
    background: #fff;
    height: 52px;
}

.main_content {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.first,
.sceond,
.third {
    display: flex;
}

.first div,
.sceond div,
.third div {
    border: 1px solid #ccc;
    padding: 80px;
    flex: 1;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.foot {
    width: 100%;
    background: #666666;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #fff;
}
